<header class="header">
    <div class="container">
        <a href="/" class="header-brand">
            <img src="/assets/img/logo.png" alt="Bf3: Battle Royale Logo" height="70">
        </a>
        <div class="header-navigation">
            <a href="/">news</a>
            <a href="/about/">about</a>
            <a href="https://github.com/BF3BR" rel="noopener" target="_blank">GitHub</a>
            <a href="https://discord.gg/9nuXa4Sx5c" rel="noopener" target="_blank">Discord</a>
        </div>
    </div>
</header>
